*{
  font-family: 'Lato', sans-serif;
}
.bg-color{
  background: -webkit-linear-gradient(#2ecc71, #16a085) no-repeat;
  background-color: #16a085;
}
h1{
  color: #ecf0f1;
  font-size: 50px;
}
.txt-to-center{
  text-align: center;
}
